extends ./layout_index.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		img(src="/public/imagenes/LogoWARK.PNG",class="main-img")
		div
			h1 Web Augmented Reality Kit
		a(href="/login" class="right-space") Iniciar Sesion
		a(href="/signup") Registrarse